@font-face {
  font-family: "iconfont"; /* Project id 3490739 */
  src: url('iconfont.woff2?t=1657178566235') format('woff2'),
       url('iconfont.woff?t=1657178566235') format('woff'),
       url('iconfont.ttf?t=1657178566235') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-shaixuan1:before {
  content: "\e641";
}

.icon-shaixuan2:before {
  content: "\e714";
}

.icon-coins:before {
  content: "\e626";
}

.icon-shouxinxiangqing-xiaofeijilu:before {
  content: "\e60c";
}

.icon-credit1:before {
  content: "\e60f";
}

.icon-jifenmingxi:before {
  content: "\e63c";
}

.icon-caidanlan-shangcheng-chongzhixiaofei:before {
  content: "\e665";
}

.icon-weibiaoti2:before {
  content: "\e601";
}

.icon-huiyuan:before {
  content: "\e654";
}

.icon-zanwuchongzhijilu:before {
  content: "\e766";
}

.icon-birthday-reminder:before {
  content: "\e608";
}

.icon-shouhou:before {
  content: "\e64c";
}

.icon-xiangmuguanli:before {
  content: "\e613";
}

.icon-xiansuogenjintongji:before {
  content: "\e698";
}

.icon-dingdanguanli:before {
  content: "\e607";
}

.icon-kehuguanli:before {
  content: "\e61b";
}

.icon-dingdanguanli1:before {
  content: "\e6e5";
}

.icon-huodongguanli:before {
  content: "\e602";
}

.icon-huiyuanguanli:before {
  content: "\e625";
}

.icon-jindu:before {
  content: "\e7b8";
}

.icon-wuliupeisong-:before {
  content: "\ed0a";
}

.icon-shilileixing:before {
  content: "\e834";
}

.icon-shouhou1:before {
  content: "\e638";
}

.icon-kehuliebiao:before {
  content: "\e715";
}

.icon-jindu1:before {
  content: "\e606";
}

.icon-shouhou2:before {
  content: "\e624";
}

.icon-jinianri:before {
  content: "\e60d";
}

.icon-xiansuoguanli:before {
  content: "\e6b2";
}

.icon-hetongguanli:before {
  content: "\e67d";
}

.icon-dengji:before {
  content: "\e6ac";
}

.icon-huiyuanguanli1:before {
  content: "\e609";
}

.icon-yingxiaoguanli:before {
  content: "\e6b3";
}

.icon-yingxiaoguanli1:before {
  content: "\e618";
}

.icon-huiyuanliebiao:before {
  content: "\e69b";
}

