.container {
  width: 100%;
  height: 100%;
  background: url('../images/login_bg.jpg') no-repeat top center;
  background-size: 100% 100%;
}
.container .login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 800px;
  height: 400px;
  box-shadow: 0 0 10px #ffffff;
}
.container .login .login_box {
  display: flex;
}
.container .login .login_box .login_box_left {
  flex: 4;
  position: relative;
}
.container .login .login_box .login_box_left .left_img,
.container .login .login_box .login_box_left .left_img1,
.container .login .login_box .login_box_left .left_img2,
.container .login .login_box .login_box_left .left_img3,
.container .login .login_box .login_box_left .left_img4,
.container .login .login_box .login_box_left .left_img5,
.container .login .login_box .login_box_left .left_img6,
.container .login .login_box .login_box_left .left_img7 {
  width: 350px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/circle2.png');
  background-size: 100% 100%;
}
.container .login .login_box .login_box_left .left_img {
  animation: rotate2 70s linear infinite;
  opacity: 0.4;
}
.container .login .login_box .login_box_left .left_img1 {
  background: url('../images/circle.png');
  width: 300px;
  height: 300px;
  background-size: 100% 100%;
  animation: rotate1 60s linear infinite;
  opacity: 0.5;
}
.container .login .login_box .login_box_left .left_img2 {
  background: url('../images/circle3.png');
  width: 280px;
  height: 280px;
  background-size: 100% 100%;
  animation: rotate2 50s linear infinite;
  opacity: 0.6;
}
.container .login .login_box .login_box_left .left_img3 {
  background: url('../images/circle4.png');
  width: 250px;
  height: 250px;
  background-size: 100% 100%;
  animation: rotate1 40s linear infinite;
  opacity: 0.7;
}
.container .login .login_box .login_box_left .left_img4 {
  background: url('../images/circle5.png');
  width: 220px;
  height: 220px;
  background-size: 100% 100%;
  animation: rotate2 30s linear infinite;
  opacity: 0.7;
}
.container .login .login_box .login_box_left .left_img5 {
  background: url('../images/circle6.png');
  width: 190px;
  height: 190px;
  background-size: 100% 100%;
  animation: rotate1 20s linear infinite;
  opacity: 0.8;
}
.container .login .login_box .login_box_left .left_img6 {
  background: url('../images/circle2.png');
  width: 160px;
  height: 160px;
  background-size: 100% 100%;
  animation: rotate2 10s linear infinite;
  opacity: 0.8;
}
.container .login .login_box .login_box_left .left_img7 {
  background: url('../images/logo.jpg');
  width: 100px;
  height: 50px;
  background-size: 100% 100%;
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
.container .login .login_box .login_box_right {
  flex: 3;
  height: 400px;
  position: relative;
}
.container .login .login_box .login_box_right .login_form_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}
.container .login .login_box .login_box_right .login_form_header .logo_cls {
  width: 50px;
  height: 50px;
}
.container .login .login_box .login_box_right .login_nav_box .nav_item {
  display: flex;
}
.container .login .login_box .login_box_right .login_nav_box .nav_item .item {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #333;
  position: relative;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
  list-style-type: none;
}
.container .login .login_box .login_box_right .login_nav_box .nav_item .item::before {
  content: '';
  height: 2px;
  background-color: #c95119;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s;
}
.container .login .login_box .login_box_right .login_nav_box .nav_item .item:hover::before {
  transform: scaleX(1);
}
.container .login .login_box .login_box_right .login_form_box {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  box-sizing: border-box;
  padding: 10px;
}
.container .login .login_box .login_box_right .login_form_box /deep/ .el-input__inner {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
}
.container .login .login_box .login_box_right .login_form_box /deep/ .el-input__prefix {
  color: #000;
}
.container .login .login_box .login_box_right .login_form_box .send_msg {
  display: flex;
}
.container .login .login_box .login_box_right .login_form_box .form_btn {
  display: flex;
  justify-content: center;
}
