.form_item {
  padding: 50px 0;
}
.room_live_list_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.room_live_list_box .room_live_list {
  width: 25%;
  display: flex;
}
.room_live_list_box .room_live_list .room_live {
  width: 100%;
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 350px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .live_item_bg {
  width: 200px;
  height: 350px;
  border-radius: 10px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .anchor_info_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box {
  position: absolute;
  left: 0;
  padding: 5px 5px 20px 5px;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status1,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status2,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status3,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status4,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status5,
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status6 {
  font-size: 10px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status {
  color: #04f023;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status1 {
  color: #fffdfd;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status2 {
  color: #3d3f3d;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status3 {
  color: #f77c0a;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status4 {
  color: #adda0b;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status5 {
  color: #f04704;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status6 {
  color: #f00c04;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_name_box {
  color: #fff;
  font-size: 14px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info {
  padding: 0 5px;
  width: 50%;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_title {
  text-align: center;
  color: #696666;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 15px 0;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item .item_label {
  color: #696666;
  font-weight: 600;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item .item_value {
  font-size: 12px;
  width: 120px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action {
  font-size: 12px;
  color: #696666;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action {
  display: flex;
  padding: 5px 0 0 0;
  align-items: center;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action .switch_box {
  transform: translate(0.6);
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action_btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.live_img_box {
  display: flex;
  margin-bottom: 10px;
}
.live_img_box .live_share_box {
  width: 40%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.1);
}
.live_img_box .live_share_box .live_share,
.live_img_box .live_share_box .live_share1 {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
.live_img_box .live_share_box .live_share .live_share_title,
.live_img_box .live_share_box .live_share1 .live_share_title {
  display: flex;
  padding: 10px 0;
}
.live_img_box .live_share_box .live_share .live_share_title .share_title_img,
.live_img_box .live_share_box .live_share1 .live_share_title .share_title_img {
  display: flex;
}
.live_img_box .live_share_box .live_share .live_share_title .share_title_img .title_img,
.live_img_box .live_share_box .live_share1 .live_share_title .share_title_img .title_img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.live_img_box .live_share_box .live_share .live_share_title .share_title,
.live_img_box .live_share_box .live_share1 .live_share_title .share_title {
  font-size: 14px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.live_img_box .live_share_box .live_share .share_desc_info,
.live_img_box .live_share_box .live_share1 .share_desc_info {
  padding: 5px 0;
}
.live_img_box .live_share_box .live_share .share_goods_box,
.live_img_box .live_share_box .live_share1 .share_goods_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.live_img_box .live_share_box .live_share .share_goods_box .goods_box,
.live_img_box .live_share_box .live_share1 .share_goods_box .goods_box {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.live_img_box .live_share_box .live_share .live_share_img,
.live_img_box .live_share_box .live_share1 .live_share_img {
  display: flex;
}
.live_img_box .live_share_box .live_share .live_share_img .share_img,
.live_img_box .live_share_box .live_share1 .live_share_img .share_img {
  width: 230px;
  height: 185px;
  border-radius: 5px;
}
.live_img_box .live_share_box .live_share {
  margin-left: 10px;
}
.live_img_box .live_share_box .live_share1 {
  width: 150px;
  height: 140px;
}
.live_img_box .live_form_box {
  width: 60%;
  padding: 0 15px;
}
.live_img_box .live_form_box .form_info_box .info_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.live_img_box .live_form_box .form_info_box .info_desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.live_cover_bg_box {
  display: flex;
}
.live_cover_bg_box .live_cover_bg {
  position: relative;
  width: 41%;
  height: 500px;
  background: url('../images/live_cover.png') no-repeat top center;
  background-size: 100% 100%;
}
.live_cover_bg_box .live_cover_bg .cover_bottom_box {
  position: absolute;
  bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.live_cover_bg_box .live_cover_bg .cover_bottom_box .live_comment_box {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0 5px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.6);
}
.live_cover_bg_box .live_cover_bg .cover_bottom_box .live_care_box {
  display: flex;
  padding: 6px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
}
.live_cover_bg_box .live_cover_bg .cover_bottom_box .live_care_box .care_img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.live_cover_bg_box .live_cover_info_box {
  width: 59%;
}
.live_cover_bg_box .live_cover_info_box .cover_info_box {
  margin: 0 15px;
}
.live_cover_bg_box .live_cover_info_box .cover_info_box .info_title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.live_cover_bg_box .live_cover_info_box .cover_info_box .info_desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.room_control_panel_box .room_info_box .room_info {
  display: flex;
  align-items: center;
}
.room_control_panel_box .room_info_box .room_info .room_info_img {
  width: 200px;
  height: 160px;
  border-radius: 20px;
}
.room_control_panel_box .room_info_box .room_info .room_info_img .info_img {
  width: 200px;
  height: 160px;
  border-radius: 20px;
}
.room_control_panel_box .room_info_box .room_info .room_info_box {
  padding: 0 20px;
}
.room_control_panel_box .room_info_box .room_info .room_info_box .room_title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}
.room_control_panel_box .room_info_box .room_info .room_info_box .room_info_item {
  padding: 5px 0;
  color: #868181;
}
.room_control_panel_box .room_control_panel {
  margin-top: 20px;
}
.room_control_panel_box .room_control_panel .room_control_item {
  height: 100px;
  display: flex;
  align-items: center;
}
.room_control_panel_box .room_control_panel .room_control_item .control_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room_control_panel_box .room_control_panel .room_control_item .control_item .control_title {
  font-weight: bold;
  padding-bottom: 5px;
}
.room_control_panel_box .room_control_panel .room_control_item .control_item .control_desc {
  font-size: 12px;
  padding: 5px 0;
  color: #646262;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item {
  display: flex;
  align-items: center;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item .assistant_item_img {
  display: flex;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item .assistant_item_img .item_img_box {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item .assistant_item_info_box {
  margin-left: 10px;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item .assistant_item_info_box .assistant_item_name {
  font-weight: bold;
  font-size: 16px;
}
.room_control_panel_box .room_control_assistant .assistant_list_box .assistant_item .assistant_item_info_box .assistant_item_wechat {
  font-size: 14px;
  padding: 5px 0;
  color: #686666;
}
