.room_live_list_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.room_live_list_box .room_live_list {
  width: 25%;
  display: flex;
}
.room_live_list_box .room_live_list .room_live {
  width: 100%;
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box {
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 425px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .live_item_bg {
  width: 200px;
  height: 425px;
  border-radius: 10px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .anchor_info_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box {
  position: absolute;
  left: 0;
  padding: 5px 5px 20px 5px;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_status_box .room_status {
  font-size: 10px;
  color: #04f023;
}
.room_live_list_box .room_live_list .room_live .room_live_item_box .room_info_box .room_name_box {
  color: #fff;
  font-size: 14px;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info {
  padding: 0 5px;
  width: 50%;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_title {
  text-align: center;
  color: #696666;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 10px 0;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item .item_label {
  color: #696666;
  font-weight: 600;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_item_info .info_item .item_value {
  font-size: 12px;
  width: 120px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action {
  font-size: 12px;
  color: #696666;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action {
  display: flex;
  padding: 5px 0 0 0;
  align-items: center;
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action .switch_box {
  transform: translate(0.6);
}
.room_live_list_box .room_live_list .room_live .room_live_item_info .live_room_action .action_btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
