.room_item_img {
    width: 100%;
    display: block;
}
.room_item_label {
    font-weight: bold;
    font-size: 12px;
    padding-right: 5px;
    color: rgb(107, 102, 102);
}

.time_box {
    padding: 2px 0;
    .time {
        font-size: 12px;
        font-weight: 600;
    }
}

.room_btns_box {
    padding: 5px 0;
}

.form_item {
    padding: 20px 0;
}